<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{1325,381},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{1337,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{1146,1},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{921,236},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{939,1},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{195,213}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{1128,208},{195,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{237,245}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{237,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{237,245}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{1,248},{237,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{233,219}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{718,1},{233,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,217}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{479,240},{257,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{237,245}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{240,1},{237,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{233,221}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{698,240},{233,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{187,187}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{1325,192},{187,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{237,237}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{479,1},{237,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{243,237}</string>
                <key>spriteSourceSize</key>
                <string>{261,261}</string>
                <key>textureRect</key>
                <string>{{240,248},{243,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{1513,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b487c13ce60eb1af570572317e7f4269:1b49b33ea818a8d9821db23a4bc64834:c5a2c42043f2b0dda1e7e7adb0cc6144$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
